<header id="header">
	<div class="container">
		<h1><a href="index.php">Zalex</a></h1>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.php" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
		<h2>I'm a passionate <span>singer</span> from Italy</h2>
		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link active" href="#header">Home</a></li>
				<li><a class="nav-link" href="#about">About</a></li>
				<li><a class="nav-link" href="#music">My music</a></li>
				<li><a class="nav-link" href="#photos">Photos</a></li>
				<li><a class="nav-link" href="#contact">Contact</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav>
		<div class="social-links">
			<!--			<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
			<a href="https://www.facebook.com/zalex.budino.7" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
			<a href="https://www.instagram.com/officialzalex/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
			<a href="https://www.youtube.com/channel/UC-9WEjzrposit6Hvjsfee3w" target="_blank"><i class="bi bi-youtube"></i></a>
			<a href="https://open.spotify.com/user/zalexgialli?si=MB__4HV5Tru5_6lyDfobhQ&utm_source=copy-link&nd=1" target="_blank"><i class="bi bi-spotify"></i></a>
		</div>
	</div>
</header>